.header {
  background-color: #fffdf9 !important;
  padding: 0 50px;

  @media (max-width: 960px) {
    padding: 0 20px;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
  }
}

.mobileActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.smallSelect {
  width: 80px;

  .MuiSelect-select {
    padding: 5px;
  }
}

.drawerContent {
  a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 0;
  }
}
